/* .selector-for-some-widget {
  box-sizing: content-box;
} */

.eachCard,
.headerCartText,
.productDetailImg {
  position: relative;
  transition: all 0.4s ease;
}

.backToCatalog:hover,
.mailingListText:hover,
.subscribe:hover{
    color: #DCDCDC
}

.eachCard:hover{
  transform: scale(1.20);
}

.cartSummaryImg {
  width: 320px;
}

.fa-check {
  color: green;
}
.fa-times {
  color: red;
}

.headerCartText:hover {
  transform: scale(1.15);
}

.mainContent {
  margin-top: 6vh;
}

.col-12 {
  padding: 0 0;
}

.row {
  margin: 0 0;
}

.productDetailImg {
  padding: 2vh 2vh 7vh 13vh;
}
.productDetailImg:hover{
  transform: scale(1.10);
  cursor:zoom-in;
}


.prevIcon {
  padding-right: 10%;
}

.nextIcon {
  padding-left: 10%;
}


.carousel-indicators li{
  width: 3vh;
}
