.eachCard {
  position: relative;
  transition: all 0.4s ease;
}

.eachCard:hover{
  transform: scale(1.20);
}

.picture {
  width: 320px;
}

.fa-check {
  color: green;
}
.fa-times{
  color: red;
}

.headerCartText{
  position: relative;
  transition: all 0.4s ease;
}
.headerCartText:hover{
  transform: scale(1.15);
}

.mainContent{
  margin-top: 7rem;
}
