.eachCard,
.headerCartText,
.productDetailImg {
  position: relative;
  transition: all 0.4s ease;
}

.backToCatalog:hover,
.mailingListText:hover,
.carouselCancelButton:hover{
  color: #DCDCDC
}

.eachCard:hover{
  transform: scale(1.20);
}

.fa-check {
  color: green;
}
.fa-times {
  color: red;
}

.headerCartText:hover {
  transform: scale(1.15);
}

.mainContent {
  height: 100%;
}

.col-12 {
  padding: 0 0;
}

.row {
  margin: 0 0;
}

.productDetailImg:hover{
  transform: scale(1.15);
  cursor:zoom-in;
}

.prevIcon {
  padding-right: 10%;
}

.nextIcon {
  padding-left: 10%;
}

.carousel-indicators li{
  width: 3vh;
}

.subscribe:hover{
 color:#ff8c00
}

.productDetailsContainer{
  max-width: 1500px;
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 0 2%;
}

.productDetailsShort{
  margin-bottom: 10px;
}

.productDetailsLong{
  margin-bottom: 20px;
}

.carouselCancelButton{
  width: 100%;
  text-align: right;
  color: black;
  font-size: 30px;
}

.cartSummaryContainer{
  max-width: 1500px;
}

.checkoutContainer{
  max-width: 1500px;
}

.productDetailImg{
  height: 53vh;
}

.imageContainer{
  padding: 0;
}

button.close {
  display: none;
}

.modal-header{
  display: flex;
  justify-content: center;
}

.introModal .modal-title{
  font-weight: bold;
  font-size: 25px;
}

* {
  box-sizing: border-box;
}

*:before,
*:after{
  box-sizing: border-box;
}

html,
body{
  height: 100%;
  position: relative;
}

.mainContainer{
  min-height: 100vh;
  display: block;
  position: relative;
  padding-bottom: 15vh;
}

#footerContainer{
  position: absolute !important;
  bottom: 0 !important;
  width: 100% !important;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2)and (orientation: portrait) {
  .productDetailImg{
    height: 35vh;
  }
  .checkoutName{
    font-size:  12px;
  }
  .checkoutQuantity{
    font-size: 15px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .productDetailImg{
    height: 55vh;
  }
  .checkoutName{
    font-size:  10px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation : portrait)  {
  .productDetailImg{
    height: 31vh;
  }
  .checkoutName{
    font-size:  15px;
  }
  .checkoutQuantity{
    font-size: 15px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation : landscape)  {
  .productDetailImg{
    height: 53vh;
  }
  .checkoutName{
    font-size:  10px;
  }
}

@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : portrait) {
  .productDetailImg{
      height: 33vh;
  }
  .checkoutName{
    font-size:  16px;
  }
  .checkoutQuantity{
    font-size: 16px;
  }
}

@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) and (orientation : landscape) {
  .productDetailImg{
      height: 55vh;
  }
  .checkoutName{
    font-size: 11px;
  }
}
